/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Base Section
        3.2 Navigation menu
        3.3 Base content
        3.4 content main
        3.5
////////////////////////////////////////////////////////////////////////*/

/*kleuren (grijs #899CA0 en donkergroen #1C2B32)*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

/*////////////////////////
    2. Typography
////////////////////////*/
H1 {
    font-size: 36px;
    text-align: center;
    font-weight: 1000;
}

H6 {
    font-size: 10px;
    font-weight: normal;
}

/*////////////////////////
    3.1 Base section
////////////////////////*/
body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;
    gap: 12px;
}

.basecamp {
    flex-shrink: 9;
    flex-grow: 12;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    /*border: 2px solid indianred;*/
}

/*////////////////////////
    3.2 Navigation menu
////////////////////////*/
nav div {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.nav-list {
    /*border: 2px dotted red;*/
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    align-items: start;
    font-size: 12px;
    flex-grow: 1;
}

/*nav li {*/
/*    list-style:*/
/*}*/

.img-navlogo {
    width: 24px;
}

.img-navlist {
    width: 18px;
}

.nav-buttons {
    /*box-sizing: inherit;*/
    /*border: 1px solid indianred;*/
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    /*flex-basis: 100px;*/
    /*flex-grow: 0;*/

    gap: 9px;
    /*height: 40px;*/
    /*width: 100%;*/
    /*padding: 0px;*/
}

#Meld-aan {
    width: 100%;
    border: 2px solid black;
    background: #FFFFFF;
    flex-basis: 100px;
    flex-grow: 1;
}

#login {
    width: 100%;
    border: 2px solid black;
    flex-basis: 100px;
    flex-grow: 1;
    background: #000000;
    color: #e3e3e3;
}


/*////////////////////////
    3.3 Base content
////////////////////////*/
header {
    /*border: 1px dashed cornflowerblue;*/
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EAEAEA;
    background-image: url("/assets/placeholder-image.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    overflow: auto;
    gap: 30px;
    padding: 36px;
}

footer {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px dashed cornflowerblue;*/
    background: black;
    color: white;
}

/*////////////////////////
    3.4 content main
////////////////////////*/

article {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 240px;
    box-shadow: grey;
    position: relative;
    gap: 36px;
}

.img-card {
    width: 18px;
    position: absolute;
    bottom: 96px;
    right: 12px;
}

article button {
    background: #252525;
    color: #e7e7e7
}