/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Base Section
        3.2 Navigation menu
        3.3 Base content
        3.4 content main
        3.5
////////////////////////////////////////////////////////////////////////*/

/*kleuren (grijs #899CA0 en donkergroen #1C2B32)*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

/*////////////////////////
    2. Typography
////////////////////////*/
H1 {
    font-size: 36px;
    text-align: center;
    font-weight: 1000;
}

H6 {
    font-size: 10px;
    font-weight: normal;
}

/*////////////////////////
    3.1 Base section
////////////////////////*/
body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;
    gap: 12px;
}

.basecamp {
    flex-shrink: 24;
    flex-grow: 24;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    /*border: 2px solid indianred;*/
}

/*////////////////////////
    3.2 Navigation menu
////////////////////////*/
nav div {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
nav .nav-list {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    align-items: start;
    font-size: 14px;
    flex-grow: 1;
}

nav li {
    list-style:
}

.img-navlogo {
    width: 24px;
}
.img-navlist {
    width: 18px;
}

.nav-button {
    border: 1px solid indianred;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 200px;
    gap: 12px;
    /*height: 40px;*/
    /*width: 100%;*/
    padding: 0px;





}

/*////////////////////////
    3.3 Base content
////////////////////////*/
header {
    border: 1px dashed cornflowerblue;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EAEAEA;
    background-image: url("/assets/placeholder-image.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    overflow: auto;
    gap: 30px;
    padding: 36px;
}

footer {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px dashed cornflowerblue;
    background: black;
    color: white;
}

/*////////////////////////
    3.4 content main
////////////////////////*/

article {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 240px;
    box-shadow: grey;
    position: relative;
    gap: 36px;
}

.img-card {
    width: 18px;
    position: absolute;
    bottom: 96px;
    right: 12px;
}

article button {
    background: #252525;
    color: #e7e7e7
}