/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Base Section
        3.2 Navigation menu
        3.3 Header
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*kleuren (grijs #899CA0 en donkergroen #1C2B32)*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

/*////////////////////////
    2. Typography
////////////////////////*/
H1 {
    font-size: 36px;
    text-align: center;
    font-weight: 1000;
}
H6 {
    font-size: 10px;
    font-weight: normal;
}
/*////////////////////////
    3.1 Base section
////////////////////////*/
body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*flex-basis: auto;*/
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 250px;
    flex-shrink: 0;
    flex-grow: 1;
    gap: 12px;
}

.basecamp {
    flex-shrink: 36;
    flex-grow: 36;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    border: 2px solid indianred;
}

/*////////////////////////
    3.2 Navigation menu
////////////////////////*/
.navlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: start;
}
/*li {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    align-items: start;*/
/*    font-size: 18px;*/
/*    gap: 1px;*/
/*}*/
.img-navlist {
    width: 28px;
}

/*////////////////////////
    3.3 Base content
////////////////////////*/
header {
    border: 1px dashed cornflowerblue;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EAEAEA;
    background-image: url("/assets/placeholder-image.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

}
main {
    align-items: start;
    overflow: auto;
}
footer {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px dashed cornflowerblue;
    background: black;
    color: white;
}